
   <div class="col-100">
     
    <div class="row">
   
      
       <div class="col-lg-12">
         <div class="card recent-sales overflow-auto">
          <div class="card">
             <div class="card-body">
               <div class="chart-container">
                <h1 class="card-title">All Sales</h1>
                <canvas id="barChart" style="max-height: 400px;">{{chart}}</canvas>
                </div>
                </div>

                </div>
                </div>
                
             </div>
          </div>
       
</div>
